* {
    margin: 0;
    padding: 0;
}

.user {
    list-style: none;
    margin-bottom: 2.5em;
    color: #fcfcfc;
    width: max-content;
}

.note {
    padding: 1em;
    margin-bottom: .8em;
    border-radius: 1em;
    border-bottom-left-radius: 0px 20px;
    border: 1px solid #9f9f9f;
}